aiohappyeyeballs==2.6.1 ; python_version >= "3.11" and python_version < "3.14"
aiohttp==3.12.15 ; python_version >= "3.11" and python_version < "3.14"
aiosignal==1.4.0 ; python_version >= "3.11" and python_version < "3.14"
annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.14"
anyio==4.10.0 ; python_version >= "3.11" and python_version < "3.14"
async-timeout==4.0.3 ; python_version >= "3.11" and python_version < "3.14"
attrs==25.3.0 ; python_version >= "3.11" and python_version < "3.14"
backoff==2.2.1 ; python_version >= "3.11" and python_version < "3.14"
backports-tarfile==1.2.0 ; python_version == "3.11"
blinker==1.9.0 ; python_version >= "3.11" and python_version < "3.14"
boto3==1.40.19 ; python_version >= "3.11" and python_version < "3.14"
botocore==1.40.19 ; python_version >= "3.11" and python_version < "3.14"
build==1.3.0 ; python_version >= "3.11" and python_version < "3.14"
cachecontrol==0.14.3 ; python_version >= "3.11" and python_version < "3.14"
certifi==2025.8.3 ; python_version >= "3.11" and python_version < "3.14"
cffi==1.17.1 ; python_version >= "3.11" and python_version < "3.14" and (sys_platform == "linux" or sys_platform == "darwin") and (platform_python_implementation != "PyPy" or sys_platform == "darwin")
charset-normalizer==3.4.3 ; python_version >= "3.11" and python_version < "3.14"
cleo==2.1.0 ; python_version >= "3.11" and python_version < "3.14"
click==8.2.1 ; python_version >= "3.11" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.14" and (platform_system == "Windows" or os_name == "nt")
contourpy==1.3.3 ; python_version >= "3.11" and python_version < "3.14"
crashtest==0.4.1 ; python_version >= "3.11" and python_version < "3.14"
cryptography==45.0.6 ; python_version >= "3.11" and python_version < "3.14" and sys_platform == "linux"
cycler==0.12.1 ; python_version >= "3.11" and python_version < "3.14"
dacite==1.9.2 ; python_version >= "3.11" and python_version < "3.14"
distlib==0.4.0 ; python_version >= "3.11" and python_version < "3.14"
dulwich==0.22.8 ; python_version >= "3.11" and python_version < "3.14"
fastjsonschema==2.21.2 ; python_version >= "3.11" and python_version < "3.14"
filelock==3.19.1 ; python_version >= "3.11" and python_version < "3.14"
findpython==0.6.3 ; python_version >= "3.11" and python_version < "3.14"
flask-cors==4.0.2 ; python_version >= "3.11" and python_version < "3.14"
flask==3.1.2 ; python_version >= "3.11" and python_version < "3.14"
fonttools==4.59.2 ; python_version >= "3.11" and python_version < "3.14"
frozenlist==1.7.0 ; python_version >= "3.11" and python_version < "3.14"
geopandas==1.1.1 ; python_version >= "3.11" and python_version < "3.14"
gql==3.5.3 ; python_version >= "3.11" and python_version < "3.14"
graphene==3.4.3 ; python_version >= "3.11" and python_version < "3.14"
graphql-core==3.2.6 ; python_version >= "3.11" and python_version < "3.14"
graphql-relay==3.2.0 ; python_version >= "3.11" and python_version < "3.14"
graphql-server==3.0.0b7 ; python_version >= "3.11" and python_version < "3.14"
h11==0.16.0 ; python_version >= "3.11" and python_version < "3.14"
httpcore==1.0.9 ; python_version >= "3.11" and python_version < "3.14"
httpx==0.28.1 ; python_version >= "3.11" and python_version < "3.14"
idna==3.10 ; python_version >= "3.11" and python_version < "3.14"
importlib-metadata==8.7.0 ; python_version == "3.11"
installer==0.7.0 ; python_version >= "3.11" and python_version < "3.14"
itsdangerous==2.2.0 ; python_version >= "3.11" and python_version < "3.14"
jaraco-classes==3.4.0 ; python_version >= "3.11" and python_version < "3.14"
jaraco-context==6.0.1 ; python_version >= "3.11" and python_version < "3.14"
jaraco-functools==4.3.0 ; python_version >= "3.11" and python_version < "3.14"
jeepney==0.9.0 ; python_version >= "3.11" and python_version < "3.14" and sys_platform == "linux"
jinja2==3.1.6 ; python_version >= "3.11" and python_version < "3.14"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "3.14"
keyring==25.6.0 ; python_version >= "3.11" and python_version < "3.14"
kiwisolver==1.4.9 ; python_version >= "3.11" and python_version < "3.14"
lxml==6.0.1 ; python_version >= "3.11" and python_version < "3.14"
markupsafe==3.0.2 ; python_version >= "3.11" and python_version < "3.14"
matplotlib==3.10.5 ; python_version >= "3.11" and python_version < "3.14"
more-itertools==10.7.0 ; python_version >= "3.11" and python_version < "3.14"
msgpack==1.1.1 ; python_version >= "3.11" and python_version < "3.14"
multidict==6.6.4 ; python_version >= "3.11" and python_version < "3.14"
nshm-toshi-client==1.0.1 ; python_version >= "3.11" and python_version < "3.14"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.14"
nzshm-common==0.8.4 ; python_version >= "3.11" and python_version < "3.14"
nzshm-model @ git+https://github.com/GNS-Science/nzshm-model.git@6e7fa5f6bc78ab1762371c3140ba27b537679eec ; python_version >= "3.11" and python_version < "3.14"
packaging==25.0 ; python_version >= "3.11" and python_version < "3.14"
pandas==2.3.2 ; python_version >= "3.11" and python_version < "3.14"
pbs-installer==2025.8.27 ; python_version >= "3.11" and python_version < "3.14"
pillow==11.3.0 ; python_version >= "3.11" and python_version < "3.14"
pkginfo==1.12.1.2 ; python_version >= "3.11" and python_version < "3.14"
platformdirs==4.4.0 ; python_version >= "3.11" and python_version < "3.14"
poetry-core==2.1.3 ; python_version >= "3.11" and python_version < "3.14"
poetry-plugin-export==1.9.0 ; python_version >= "3.11" and python_version < "3.14"
poetry==2.1.4 ; python_version >= "3.11" and python_version < "3.14"
propcache==0.3.2 ; python_version >= "3.11" and python_version < "3.14"
pyarrow==20.0.0 ; python_version >= "3.11" and python_version < "3.14"
pycparser==2.22 ; python_version >= "3.11" and python_version < "3.14" and (sys_platform == "linux" or sys_platform == "darwin") and (platform_python_implementation != "PyPy" or sys_platform == "darwin")
pydantic-core==2.33.2 ; python_version >= "3.11" and python_version < "3.14"
pydantic-to-pyarrow==0.1.6 ; python_version >= "3.11" and python_version < "3.14"
pydantic==2.11.7 ; python_version >= "3.11" and python_version < "3.14"
pynamodb-attributes==0.4.0 ; python_version >= "3.11" and python_version < "3.14"
pynamodb==6.1.0 ; python_version >= "3.11" and python_version < "3.14"
pyogrio==0.11.1 ; python_version >= "3.11" and python_version < "3.14"
pyparsing==3.2.3 ; python_version >= "3.11" and python_version < "3.14"
pyproj==3.7.2 ; python_version >= "3.11" and python_version < "3.14"
pyproject-hooks==1.2.0 ; python_version >= "3.11" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.14"
python-dotenv==1.1.1 ; python_version >= "3.11" and python_version < "3.14"
pytz==2025.2 ; python_version >= "3.11" and python_version < "3.14"
pywin32-ctypes==0.2.3 ; python_version >= "3.11" and python_version < "3.14" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "3.14"
rapidfuzz==3.14.0 ; python_version >= "3.11" and python_version < "3.14"
requests-toolbelt==1.0.0 ; python_version >= "3.11" and python_version < "3.14"
requests==2.32.5 ; python_version >= "3.11" and python_version < "3.14"
s3path==0.6.4 ; python_version >= "3.11" and python_version < "3.14"
s3transfer==0.13.1 ; python_version >= "3.11" and python_version < "3.14"
secretstorage==3.3.3 ; python_version >= "3.11" and python_version < "3.14" and sys_platform == "linux"
serverless-wsgi==3.1.0 ; python_version >= "3.11" and python_version < "3.14"
shapely==2.1.1 ; python_version >= "3.11" and python_version < "3.14"
shellingham==1.5.4 ; python_version >= "3.11" and python_version < "3.14"
six==1.17.0 ; python_version >= "3.11" and python_version < "3.14"
smart-open==7.3.0.post1 ; python_version >= "3.11" and python_version < "3.14"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "3.14"
tomlkit==0.13.3 ; python_version >= "3.11" and python_version < "3.14"
toshi-hazard-store @ git+https://github.com/GNS-Science/toshi-hazard-store.git@c6c1e7b11a1db1e3a8e8792f6e225272ca2b41b7 ; python_version >= "3.11" and python_version < "3.14"
trove-classifiers==2025.8.26.11 ; python_version >= "3.11" and python_version < "3.14"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.14"
typing-inspection==0.4.1 ; python_version >= "3.11" and python_version < "3.14"
tzdata==2025.2 ; python_version >= "3.11" and python_version < "3.14"
urllib3==2.5.0 ; python_version >= "3.11" and python_version < "3.14"
virtualenv==20.32.0 ; python_version >= "3.11" and python_version < "3.14"
werkzeug==3.1.3 ; python_version >= "3.11" and python_version < "3.14"
wrapt==1.17.3 ; python_version >= "3.11" and python_version < "3.14"
xattr==1.2.0 ; python_version >= "3.11" and python_version < "3.14" and sys_platform == "darwin"
yarl==1.20.1 ; python_version >= "3.11" and python_version < "3.14"
zipp==3.23.0 ; python_version == "3.11"
zstandard==0.24.0 ; python_version >= "3.11" and python_version < "3.14"
