name: deploy-aws-lambda

on:
  push:
    branches:
      - deploy-test
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:      

jobs:
  call-test-workflow:
    uses: GNS-Science/nshm-github-actions/.github/workflows/deploy-to-aws.yml@feature/16-deploy-to-aws
    with:
      operating-system: 'ubuntu-latest'
      python-version: '3.11'
      node-version: '22'
      docker: true
    secrets: inherit
